@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Store you passwords in only one place!!</h1>
    <p class="lead">We offer you the free service of storing all of your passwords!!</p>
    <p><a href="http://www.nowhere.nowhere" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Ask an admin for an account, and your good to go!
        </p>
        <p><a class="btn btn-default" href="#Nowhere">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Never forget a password again!</h2>
        <p>So damn easy !!.</p>
        <p><a class="btn btn-default" href="#Nowhere">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Security</h2>
        <p>We have the best security, our customers has told us!.</p>
        <p><a class="btn btn-default" href="#Nowhere">Learn more &raquo;</a></p>
    </div>
</div>
