<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name ="DMAISecureService.AuthService" behaviorConfiguration="SecureBevaiorAuth">
        <host>
          <baseAddresses>
            <add baseAddress = "https://localhost:5680/" />
            <add baseAddress = "net.tcp://localhost:5681/" />
            <!--Remember to bind your certificate to the new port 5679-->
          </baseAddresses>
        </host>
        <endpoint address="SecureAuthService" binding="wsHttpBinding" contract="DMAISecureService.IAuthService" bindingConfiguration="SecureAuthEndpoint"/>
        <endpoint address="SecureAuthServiceTCP" binding="netTcpBinding" contract="DMAISecureService.IAuthService" bindingConfiguration="SecureAuthEndpointTCP"/>

        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
        <endpoint address="mexTcp" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="DMAISecureService.SecureService" behaviorConfiguration="SecureBevaior">
        <host>
          <baseAddresses>
            <add baseAddress = "https://localhost:5678/" />
            <add baseAddress = "net.tcp://localhost:5679/" />
            <!--Remember to bind your certificate to port 5678-->
          </baseAddresses>
        </host>
        <endpoint address="SecureService" binding="wsHttpBinding" contract="DMAISecureService.ISecureService" bindingConfiguration="SecureEndpoint"/>
        <endpoint address="SecureService" binding="netTcpBinding" contract="DMAISecureService.ISecureService" bindingConfiguration="SecureEndpointTCP">
          <identity>
            <dns value="Ronni Hansen"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
        <endpoint address="mexTCP" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="SecureEndpointTCP">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="SecureAuthEndpointTCP">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="SecureEndpoint">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="SecureAuthEndpoint">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
 
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SecureBevaior">
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="DMAISecureService.AccessValidation.RoleValidator,DMAISecureService" />
          <serviceCredentials>
            <serviceCertificate x509FindType="FindByThumbprint" findValue="BAA087F03FF33ED42B35BB15DB34D335031FDB75" storeName="My" storeLocation="LocalMachine" />
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="DMAISecureService.AccessValidation.CredentialValidator, DMAISecureService"/>
          </serviceCredentials>
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
        <behavior name="SecureBevaiorAuth">
          <serviceCredentials>
            <serviceCertificate x509FindType="FindByThumbprint" findValue="BAA087F03FF33ED42B35BB15DB34D335031FDB75" storeName="My" storeLocation="LocalMachine" />

          </serviceCredentials>
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>