<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages"
          type="System.Diagnostics.XmlWriterTraceListener"
          initializeData="messages.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="false"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
        maxMessagesToLog="20000" maxSizeOfMessageToLog="20000" />
    </diagnostics>
    <services>
      <service name="SecureService.ServiceLibrary.AuthService"  behaviorConfiguration="SecureBevaiorAuth">
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:9978/"   />
            <add baseAddress="net.tcp://localhost:9979/"   />
            <!--Remember to bind your certificate to the new port 5679-->
          </baseAddresses>
        </host>
        <endpoint address="SecureAuthService" binding="wsHttpBinding" contract="SecureService.ServiceLibrary.IAuthService" bindingConfiguration="SecureAuthEndpoint"/>
        <endpoint address="SecureAuthServiceTCP" binding="netTcpBinding" contract="SecureService.ServiceLibrary.IAuthService" bindingConfiguration="SecureAuthEndpointTCP"/>

        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
        <endpoint address="mexTcp" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="SecureService.ServiceLibrary.SecureUserService" behaviorConfiguration="SecureBevaior">
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:9976/"   />
            <add baseAddress="net.tcp://localhost:9977/"   />
            <!--Remember to bind your certificate to port 5678-->
          </baseAddresses>
        </host>
        <endpoint address="SecureService" binding="wsHttpBinding" contract="SecureService.ServiceLibrary.ISecureUserService" bindingConfiguration="SecureEndpoint"/>
        <endpoint address="SecureService" binding="netTcpBinding" contract="SecureService.ServiceLibrary.ISecureUserService" bindingConfiguration="SecureEndpointTCP">
          <identity>
            <dns value="Ronni Hansen"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
        <endpoint address="mexTCP" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="SecureEndpointTCP">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="SecureAuthEndpointTCP">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="SecureEndpoint">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="SecureAuthEndpoint">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>

    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SecureBevaior">
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="SecureService.ServiceLibrary.AccessValidation.RoleValidator,SecureService.ServiceLibrary" />
          <serviceCredentials>
            <serviceCertificate x509FindType="FindByThumbprint" findValue="86D979B0F41A65D806638558B7C09EDADFD753D8" storeName="My" storeLocation="LocalMachine" />
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="SecureService.ServiceLibrary.AccessValidation.CredentialValidator, SecureService.ServiceLibrary"/>
          </serviceCredentials>
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
        <behavior name="SecureBevaiorAuth">
          <serviceCredentials>
            <serviceCertificate x509FindType="FindByThumbprint" findValue="86D979B0F41A65D806638558B7C09EDADFD753D8" storeName="My" storeLocation="LocalMachine" />

          </serviceCredentials>
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>