<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdventure" />
                <binding name="BasicHttpBinding_ICharacter" />
                <binding name="BasicHttpBinding_ISystemUser">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7410/SecureService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISystemUser" contract="ServiceReference1.ISystemUser"
                name="BasicHttpBinding_ISystemUser" />
            <endpoint address="http://localhost:7411/SecureAdventureService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdventure"
                contract="ServiceReference1.IAdventure" name="BasicHttpBinding_IAdventure" />
            <endpoint address="http://localhost:7412/SecureCharacterService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICharacter"
                contract="ServiceReference1.ICharacter" name="BasicHttpBinding_ICharacter" />
        </client>
    </system.serviceModel>
</configuration>