<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ApplicationDbContext" connectionString="data source=.\SQLExpress;initial catalog=WCFAuthTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="AuthenticationTest.SecureService" behaviorConfiguration="SecureServiceBehavior">
        <endpoint address="SecureService" binding="wsHttpBinding" contract="AuthenticationTest.ISecureService" bindingConfiguration="SecureBindingHttps">

        </endpoint>

        <endpoint address="SecureServiceTCP" binding="netTcpBinding" contract="AuthenticationTest.ISecureService" bindingConfiguration="SecureBindingTCP">
          
        </endpoint>

        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:8737/" />
            
            <add baseAddress="net.tcp://localhost:8736/" />     
          </baseAddresses>
        </host>
      </service>

      <service name="AuthenticationTest.InSecureService" behaviorConfiguration="InSecureServiceBehavior">
        <endpoint address="InSecureService" binding="basicHttpBinding" contract="AuthenticationTest.IInSecureService">
         
        </endpoint>
        <endpoint address="InSecureServiceTcp" binding="netTcpBinding" contract="AuthenticationTest.IInSecureService" >
        </endpoint>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:3644/" />
            <add baseAddress="net.tcp://localhost:3645/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SecureServiceBehavior">
          
          <serviceCredentials>
            <serviceCertificate x509FindType="FindByThumbprint" findValue="c9c9366de42f8dc2875b8139fb17f8aba9f5ba66" storeName="My" storeLocation="LocalMachine">
              
            </serviceCertificate>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="CredentialValidator, AuthenticationTest" />
            
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="AuthenticationTest.RoleAuthorizationManager,AuthenticationTest" />
          
          
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
        <behavior name="InSecureServiceBehavior">
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="false" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>

      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="SecureBindingHttps">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <transport clientCredentialType="Certificate" />

          </security>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="SecureBindingTCP">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <transport clientCredentialType="Certificate" />

          </security>
        </binding>
      </netTcpBinding>

    </bindings>
  </system.serviceModel>

</configuration>