<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISecureUserService">
                    <security mode="TransportWithMessageCredential">
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAuthService">
                    <security mode="TransportWithMessageCredential">
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISecureUserService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IAuthService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:9976/SecureService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ISecureUserService" contract="SecureUserServiceReference.ISecureUserService"
                name="WSHttpBinding_ISecureUserService" />
            <endpoint address="net.tcp://localhost:9977/SecureService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISecureUserService" contract="SecureUserServiceReference.ISecureUserService"
                name="NetTcpBinding_ISecureUserService">
                <identity>
                    <dns value="Ronni Hansen" />
                </identity>
            </endpoint>
            <endpoint address="https://localhost:9978/SecureAuthService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthService"
                contract="SecureAuthServiceReference.IAuthService" name="WSHttpBinding_IAuthService" />
            <endpoint address="net.tcp://localhost:9979/SecureAuthServiceTCP"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAuthService"
                contract="SecureAuthServiceReference.IAuthService" name="NetTcpBinding_IAuthService">
                <identity>
                    <dns value="SecureService" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>