<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="MultipleServicesOnSamePort.Service1">
        
        <endpoint address="" binding="basicHttpBinding" contract="MultipleServicesOnSamePort.IService1"></endpoint>

        <endpoint address="" binding="basicHttpBinding" contract="MultipleServicesOnSamePort.IService2"> </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"> </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Service1" />
          </baseAddresses>
        </host>
      </service>

      <!--<service name="MultipleServicesOnSamePort.Service2">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Service2" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="MultipleServicesOnSamePort.IService2"> </endpoint>
      </service>-->
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>