<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISecureService">
                    <security mode="TransportWithMessageCredential">
                      <transport clientCredentialType="None"  />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAuthService">
                    <security mode="Transport">
                      <transport clientCredentialType="None" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISecureService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None"  />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IAuthService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:5678/SecureService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ISecureService" contract="SecureServiceReference.ISecureService"
                name="WSHttpBinding_ISecureService" />
            <endpoint address="net.tcp://localhost:5679/SecureService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISecureService" contract="SecureServiceReference.ISecureService"
                name="NetTcpBinding_ISecureService">
                <identity>
                    <dns value="ROH" />
                </identity>
            </endpoint>
            <endpoint address="https://localhost:5680/SecureAuthService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthService"
                contract="AuthServiceReference.IAuthService" name="WSHttpBinding_IAuthService" />
            <endpoint address="net.tcp://localhost:5681/SecureAuthServiceTCP"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAuthService"
                contract="AuthServiceReference.IAuthService" name="NetTcpBinding_IAuthService">
                <identity>
                    <dns value="ROH" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>