<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <behaviors>
        <endpointBehaviors>
          <behavior name="securebehavoir">
            <clientCredentials>
              <clientCertificate x509FindType="FindByThumbprint" findValue="c9c9366de42f8dc2875b8139fb17f8aba9f5ba66" storeName="My" storeLocation="LocalMachine"/>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IInSecureService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISecureService">
                    <security mode="TransportWithMessageCredential">
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IInSecureService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISecureService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="Certificate" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:8737/SecureService" behaviorConfiguration="securebehavoir"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISecureService"
                contract="SecureServiceReference.ISecureService" name="WSHttpBinding_ISecureService" />
            <endpoint address="net.tcp://localhost:8736/SecureServiceTCP"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISecureService"
                contract="SecureServiceReference.ISecureService" name="NetTcpBinding_ISecureService">
                <identity>
                    <dns value="LAPTOP-U7QHKIMG" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:3644/InSecureService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IInSecureService" contract="InSecureServiceReference.IInSecureService"
                name="BasicHttpBinding_IInSecureService" />
            <endpoint address="net.tcp://localhost:3645/InSecureServiceTcp"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IInSecureService"
                contract="InSecureServiceReference.IInSecureService" name="NetTcpBinding_IInSecureService">
                <identity>
                    <!--<userPrincipalName value="LAPTOP-U7QHKIMG\Ronni Hansen" />-->
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>