@model SimpleNoteKeeper.Models.Note
<p>
    @Model.NoteText <text>:category:</text> @Model.Category.Name <text>-</text> @Html.ActionLink("Delete", "Delete", new { id = Model.NoteId }) @Html.ActionLink("Edit", "Edit", new { id = Model.NoteId })
</p>