<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRoomBookingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/RoomBookingService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoomBookingService"
                contract="RoomBookingServiceReference.IRoomBookingService"
                name="BasicHttpBinding_IRoomBookingService" />
        </client>
    </system.serviceModel>
</configuration>